    {% extends "/templates/base.html" %} {% block head %}
    <script type="text/javascript" src="/static/js/meuscript.js"></script>
    {% endblock %} {% block content %}

            <div id="content">
            <article>
                <h1>RAÇÕES</a></h1>
                <p> <strong>colocar</strong> corretamente o Peitoral Tração em seu cão!<br /><a href="/page/media/movies"><strong>Clique aqui</strong> </a>e assista ao vídeo demonstração.</p></article>
            <article>
                <h1><a href="page/content/html?id=4">Peitoral Treinamento</a></h1>
                Mais um vídeo da série "uso correto" demonstrando como <strong>colocar</strong> e <strong>utilizar</strong> o peitoral de treinamento corretamente em seu cão. <a href="/page/media/movies"><strong>Clique</strong></a>&nbsp;e assista.</article>




    </div>

    {% endblock %}