    {% extends "/templates/base.html" %} {% block head %}
    <script type="text/javascript" src="/static/js/meuscript.js"></script>
    {% endblock %} {% block content %}

    <div class="row">



            <div class="span3">
                <section id="menu-catalog">
                    <ul id="left-menu" class="catalog-nav">
                        <li><a href="lista">Coleiras<ul></ul></a></li>
                        <li><a href="lista">Guias<ul></ul></a></li>
                        <li><a href="lista">Colar (Enforcador)<ul></ul></a></li>
                        <li><a href="lista">Peitoral<ul></ul></a></li>
                        <li><a href="lista">Brinquedo<ul></ul></a></li>
                        <li><a href="lista">Cintos de Segurança<ul></ul></a></li>
                        <li><a href="lista">Colar Elizabetano<ul></ul></a></li>
                        <li><a href="lista">Conjuntos<ul></ul></a></li>
                        <li><a href="lista">Eletrônicos<ul></ul></a></li>
                        <li><a href="lista">Banho e Tosa<ul></ul></a></li>
                        <ul>
                            <script> $("#left-menu").kendoTreeView()</script>
                </section>
            </div>



            <div CLASS="span6">
            <article>
                <h1>TEXTO</a></h1>


                <p> <strong>Colocar</strong> Texto de interesse e chamativo!<br />
                    <a href="/page/media/movies"><strong>Clique aqui</strong> </a>e Ver detalhes.</p></article>

           </div>
    </div>


    {% endblock %}