    {% extends "/templates/base.html" %} {% block head %}
    <script type="text/javascript" src="/static/js/meuscript.js"></script>
    {% endblock %} {% block content %}
    <div id="wrapper-content">
        <!--
                                        <div id="breadcrumb">
                        <span>Você está aqui:</span>
                    </div>-->
        <div style="width:770px;float:left;margin-left:20px;margin-right:20px">
            ﻿<h1>Produtos > Colar (Enforcador)</h1>



            <ul class="catalog-list">
                <li>
                    <div class="clearfix" style="float:none; clear:both;position:relative;">

                        <img class="catalog-list-product-image" src="/stact/img/colar-poliester-ou-nylon.jpg"  title="Colar de Poliester" >

                        <h2>Colar de Poliester</h2>
                        <p><p>Enforcador confeccionado em fita de poliéster que, diferentemente dos enforcadores de metal, não prejudica o pescoço do cão.</p>
                        <p>Esse produto, utilizado para a condução do cão em passeios e adestramento,&nbsp;possui uma exclusiva barra anti-torção,&nbsp;evitando a torção da fita no pescoço, desde que seja utilizada a guia com o mosquetão correto.</p>
                        <p>Possui diversos tamanhos adequando-se a diferentes portes de cão, além da fita resistir a uma tração de até 900kg.</p>
                        <p>Assita ao video explicativo e aprenda a utilizar o produto da forma correta. </p></p>
                    </div>




                    <a href="/lojista" class="k-button">Onde Encontrar</a>
                </li>
            </ul>


            ﻿
        </div>

    </div>
    {% endblock %}