    {% extends "/templates/base.html" %} {% block head %}
    <script type="text/javascript" src="/static/js/meuscript.js"></script>
    {% endblock %} {% block content %}

    <div id="content">
        ﻿<h1>Escolha uma Categoria</h1>

        <ul class="catalog-category-list">
            <li>
                <img class="catalog-list-category-image" src="/media/catalog/image/category/noimage.jpg"/>
                <a href="/catalog/product/list?category=1">Coleiras</a></li>
            <li>
                <img class="catalog-list-category-image" src="/media/catalog/image/category/noimage.jpg"/>
                <a href="/catalog/product/list?category=2">Guias</a></li>
            <li>
                <img class="catalog-list-category-image" src="/media/catalog/image/category/noimage.jpg"/>
                <a href="/catalog/product/list?category=5">Colar (Enforcador)</a></li>
            <li>
                <img class="catalog-list-category-image" src="/media/catalog/image/category/noimage.jpg"/>
                <a href="/catalog/product/list?category=6">Peitoral</a></li>
            <li>
                <img class="catalog-list-category-image" src="/media/catalog/image/category/noimage.jpg"/>
                <a href="/catalog/product/list?category=7">Brinquedo</a></li>
            <li>
                <img class="catalog-list-category-image" src="/media/catalog/image/category/noimage.jpg"/>
                <a href="/catalog/product/list?category=8">Cintos de Segurança</a></li>
            <li>
                <img class="catalog-list-category-image" src="/media/catalog/image/category/noimage.jpg"/>
                <a href="/catalog/product/list?category=9">Colar Elizabetano</a></li>
            <li>
                <img class="catalog-list-category-image" src="/media/catalog/image/category/noimage.jpg"/>
                <a href="/catalog/product/list?category=10">Conjuntos</a></li>
            <li>
                <img class="catalog-list-category-image" src="/media/catalog/image/category/noimage.jpg"/>
                <a href="/catalog/product/list?category=11">Eletrônicos</a></li>
            <li>
                <img class="catalog-list-category-image" src="/media/catalog/image/category/noimage.jpg"/>
                <a href="/catalog/product/list?category=12">Banho e Tosa</a></li>
        </ul>﻿
    </div>

    {% endblock %}