{% extends "/templates/base.html" %} {% block head %}

{% endblock %} {% block content %}

<div id="content">

        <h1>Escolha uma Categoria</h1>

        <ul class="catalog-category-list">
            <li>
                <img  src="../static/img/noimage.jpg"/>
                <a href="lista.html">Coleiras</a></li>
            <li>
                <img  src="../static/img/noimage.jpg"/>
                <a href="lista.html">Guias</a></li>
            <li>
                <img  src="../static/img/noimage.jpg"/>
                <a href="lista.html">Colar (Enforcador)</a></li>
            <li>
                <img  src="../static/img/noimage.jpg"/>
                <a href="lista.html">Peitoral</a></li>
            <li>
                <img src="../static/img/noimage.jpg"/>
                <a href="lista.html">Brinquedo</a></li>
            <li>
                <img  src="../static/img/noimage.jpg"/>
                <a href="lista.html">Cintos de Segurança</a></li>
            <li>
                <img  src="../static/img/noimage.jpg"/>
                <a href="lista.html">Colar Elizabetano</a></li>
            <li>
                <img  src="../static/img/noimage.jpg"/>
                <a href="lista.html">Conjuntos</a></li>
            <li>
                <img  src="../static/img/noimage.jpg"/>
                <a href="lista.html">Eletrônicos</a></li>
            <li>
                <img  src="../static/img/noimage.jpg"/>
                <a href="lista.html">Banho e Tosa</a></li>
        </ul>﻿








</div>

{% endblock %}
