{% extends "/templates/base.html" %}
{% block navbar %}{{ create_navbar("TABLE") }} {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="span6">
    <h3>Produtos</h3>
        <ol>
            {% for produto in produtos %}
            <li>{{ produto }}</li>
            {% endfor %}
        </ol>

    </div>
    <div class="span6">
        <h3>Categorias</h3>
        <ol>
            {% for p in categorias %}
                <li>{{p.nome }} - {{ <img id="loader" src="/static/img/"& p.imag>}} - {{ p.id|brfloat}}</li>
            {% endfor %}
        </ol>

    </div>
    </div>
</div>
{% endblock %}